*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items:center; */
    transition: .5s;
}
.choice:hover{
    cursor: pointer;
    /* background-color: #081b31; */
    transform: scale(1.08);
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: contain;
    transform: rotate(-90deg);

}
.choices{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap:3rem
}

.score-board{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}

#user-score, #comp-score{
    font-size: 3.5rem;
}

.msg-container{
    margin-top: 5rem;
}
#msg {
    background-color: #081b31;
    color:#fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: .5rem;
}