*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEF1F8;
}
.container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

.todo-app{
    background-color: #fff;
    max-width: 540px;
    width: 100%;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 1.2rem;
}

button{
    border: none;
    outline: none;
    padding: 16px 35px;
    border-radius: 40px;
    background: #000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

ul li{
    list-style-type: none;
    font-size: 1.5rem;
    padding: 12px 8px 12px 50px;
    user-select:none;
    cursor: pointer;
    position: relative;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

ul li span:hover{
    background-color: #edeef0;
}