* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    /* width: 400px; */
    width: auto;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 10px;
}

.balance h3 {
    font-size: 2em;
    margin-top: 10px;
}

.income-expense {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.income, .expense {
    flex: 1; /* equal space*/
    padding: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
    text-align: center;
}

.income {
    margin-right: 10px;
}

.money {
    font-size: 1.5em;
    margin-top: 5px;
}

.plus {
    color: green;
}

.minus {
    color: red;
}

.transaction-container {
    margin-top: 20px;
}

.list {
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
}

.list li {
    background-color: #f7f7f7;
    padding: 10px;
    border-right: 5px solid;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list li.plus {
    border-color: green;
}

.list li.minus {
    border-color: red;
}

.list .delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-transaction {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control label {
    display: block;
}

.form-control input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}
