body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    width: 60%;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
}

.time-options {
    text-align: center;
    margin-bottom: 15px;
}

.time-btn {
    padding: 12px 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background: #333;
    color: white;
    font-size: 1.2rem;
}

.time-btn.active {
    background: #00ff88;
    color: black;
}

.timer {
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
}

.text-display {
    background: #222;
    padding: 20px;
    border-radius: 5px;
    min-height: 100px;
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 1.6rem;
    width: 100%;
}

.text-display span.correct {
    color: #00ff88;
}

.text-display span.incorrect {
    color: red;
}

.text-display span.active {
    text-decoration: underline;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.results {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 3rem;
    font-size: 1.5rem;
}

.controls {
    text-align: center;
}

button {
    padding: 15px 25px;
    margin: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: .5rem;
}
